footer.footer
 
    .wrapper 
        .aaa
            .social
                a(href="#")
                    svg(width='35' height='35' fill='white' stroke='white')
                        use(href='#twitter-icon')
                a(href="#")
                    svg(width='35' height='35' fill='white' stroke='white')
                        use(href='#twitter-icon')
                a(href="#")
                    svg(width='35' height='35' fill='white' stroke='white')
                        use(href='#twitter-icon')
                a(href="#")
                    svg(width='35' height='35' fill='white' stroke='white')
                        use(href='#twitter-icon')
            span © 2015 Startup, Designed by ShapedTheme