header.header 
    .wrapper 
        .flex
            .logo
                h1 Startup
            .burger#burger 
            span
            .menu
                ul
                    li: a(href="#") Home
                    li: a(href="#") Services
                    li: a(href="#") About
                    li: a(href="#") Works
                    li: a(href="#") Blog
                    li: a(href="#") Clients
                    li: a(href="#") Contact


        .welcome 
            h2 Welcome to STARTUP
            span Your Favourite Creative Agency Template
            .center 
                button  Get Started