header.header#home 
    .wrapper 
        .flex
            .logo
                h1 Startup
            .burger#burger 
                span
            .menu
                ul
                    li: a(href="#home") Home
                    li: a(href="#Services") Services
                    li: a(href="#About") About
                    li: a(href="#Works") Works
                    li: a(href="#Blog") Blog
                    li: a(href="#Clients") Clients
                    li: a(href="#Contact") Contact


        .welcome 
            h2 Welcome to STARTUP
            span Your Favourite Creative Agency Template
            .center 
                button  Get Started
    #popupAuth.popup-auth(style='display:none;')
        .auth-content
            h2 Login
            .blocks
            .blocka(data-order='1') 1
            .blocka(data-order='2') 2
            .blocka(data-order='3') 3
            button#checkSequence Enter
